li {
  list-style-type: none;
  padding: 2rem;
}
ul {
  padding: 0px;
}

button {
  color: white;
  font-weight: bold;
  width: 150px;
  padding: 7px;
  background-color: rgb(68, 68, 68);
  margin: 20px;
}

.App {
  text-align: center;
}

.App-body {
  background-color: #1c1515;
  display: flex;
  flex-direction: row;
}

.App-header {
  color: rgb(219, 219, 219);
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
  letter-spacing: 20px;
  background-color: black;
  text-align: center;
  padding-top: 1rem;
}

.App-link {
  color: #640505;
}

a:link,
a:visited {
  padding: 20px;
  color: rgb(26, 15, 15);
  font-weight: bold;
  text-decoration: none;
}
a:hover,
a:active {
  background-color: black;
  color: white;
}

.NavBar {
  display: flex;
  text-transform: uppercase;
  flex-direction: column;
  background-color: #493737;
  max-height: 100%;
  width: 17%;
  color: black;
}
.navBarTitle {
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.ReviewTile {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #251d1d;
  height: 250px;
  padding: 50px;
  width: 500px;
  color: #b79696;
  margin: 20px;
}

.HomePage,
.StrategyGamesPage {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
}
.reviewTileImg {
  display: flex;
  justify-content: left;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.reviewTileInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 50px;
}

.reviewImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.reviewPage {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.reviewTitle {
  background-color: rgb(88, 61, 63);
}

.reviewVotesAndAuthor,
.reviewBody {
  background-color: darkcyan;
}

.comment {
  background-color: black;
}
